.header {
    display: grid;
    justify-items:center;
    justify-content: center;

}

.links {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 50px;
    margin-bottom: 60px;
   
}

.index {
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 16px;
    font-weight: bold;
    justify-content: space-between;
    color: black;
}

.about {
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 16px;
    font-weight: bold;
    justify-content: space-between;
    color: black;
}

.gallery {
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 16px;
    font-weight: bold;
    justify-content: space-between;
    color: black;
}

.blog {
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 16px;
    font-weight: bold;
    justify-content: space-between;
    color: black;
}

.contact {
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 16px;
    font-weight: bold;
    justify-content: space-between;
    color: black;
}

.text-box {
    position: absolute;
    display: flex;
    flex-flow: column;
    bottom: 2%;
    right: 25%;
}

.text-box > h2 {
    background-color: black;
    color: white;
    padding: 10px;
}

.text-box > p {
    background-color: white;
    padding: 10px;
    margin: 10px;
    width: fit-content;
}

.main-images {
    margin-top: 5%;
    display: flex;
    list-style-type: none;
    justify-content: center;
    gap: 25px;
}

.main-images > li {
    border: black;
    border-style: solid;
}

.bottom {
    display: grid;
    margin-top: 30px;
    display: grid;
    list-style-type: none;
    background: #252525;
}

.social-media-links {
    display: flex;
    list-style-type: none;
    flex-direction: row;
    justify-content: end;
    align-items: right;
    padding-right: 150px;   
}

.social-media-links > li {
    padding: 20px;
}

@media (max-width: 576px) {

    .header {
        display: inline-block;
    }

    .links {
     flex-direction: column;   
    }

    .text-box {
        position: static;
    }

    .main-images {
        flex-direction: column;
    }

    .bottom {
        padding: 0;
        margin: 0;
        width: fit-content;
    
    }
    .social-media-links {
        padding: 0;
        margin: 0;
        flex-direction: row;

    }
}
   
